@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #333;
  font-size: 1rem;
  font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
  margin-top:100px;

}

a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
/*
コンテンツ幅を設定するための共通クラス
*/
.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}
.readmore {
  font-size: 0.875rem;
  text-align: center;
  text-decoration: underline;
}

#header {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
}

.section-title {
  padding: 20px 16px;
  line-height: 1px;
}

#main-nav{
  background-color: #333;
}

#main-nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

#pickup {
  display: flex;
  justify-content: space-between;
  padding: 50px 16px 0 16px;
  margin-bottom: 20px;
}

#pickup h2 {
  font-size: 16px;
  padding: 10px 0 10px 0;
}



nav a {
  list-style: none;

  color: #fff;
  font-size: 14px;
}

nav li {
padding: 10px 60px 10px 0;
font-size: 0.875rem;
}

.readmore {
  text-align: center;
}


#container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

main {
  width: 65%;
}

#aside {
  width: 30%;
}

.article-title {
  font-size: 24px;
  margin: 10px 0 15px 0;
}

#pickup h2 {
  margin: 10px 0 15px 0;
}

article li {
  float: left;
  padding-right: 10px;
  margin-bottom: 10px;
}

article p {
  margin-top: 20px;
  padding: 10px 40px 30px 40px;
}

article {
margin-bottom: 60px;

}

#aside .section-author {
height: auto;
text-align: center;
}


#aside .section-author a img {
width: 130px;
height: 130px;
object-fit: cover;
border-radius: 50%;
margin-bottom: 30px;

}

h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.prf {
  font-size: 14px;
  text-align: left;
}

h4 {
  font-size: 14px;
  text-align: left;
}

.section-author {
  margin-bottom: 60px;
  text-align: center;
}

.ranking,
.archive {
  text-align: center;
}

.archive ul {
  border-top: 1px solid #333;

}
.archive li {
  padding: 10px;
  border-bottom: 1px solid #333;
  text-align: left;
}

.content {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;

  flex-wrap: nowrap;


}

.item {
  width: 30%;
}

.item .menu-list li {
  border-bottom: 1px solid #333;
  padding: 15px;
}

.item .menu-list ul {
  border-top: 1px solid #333;

}

#pickup article {
  width: 32%;

}

.item p,item a {
  font-size: 14px;
}

.item p {
  padding-bottom: 20px;
}

#footer {
  background-color: #f7f7f7;
}

.footer-item {
  font-size: 0.750rem;
  text-align: center;
  padding: 10px 0;
}


.menu-list {
  border-top: 1px solid #333;
}

#footer .item li .arrow::before {
  content:"▶︎";
}
